* {
  background-color: rgb(55, 61, 61);
}

#main-container input {
  background-color: white;
  align-items: center;
}

#main-container {
  margin: auto;
}
#main-container h1 {
  align-items: center;
  justify-content: center;
}
