:root {
    --main-color: white;
    --black: black;
    background: #010103;
    border: 1rem solid rgba(255, 255, 255, 0.3);
}

* {
    font-family: "Roboto", san-serrif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html {
    font-size: url("");
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
    display: flex;
    color: white;
    padding: 50px;
    font-variant: small caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 25px;
}

#sticky {
    position: fixed;
    top: 0%;
    width: 100%;
}

.menu {
    background-color: white;
    text-align: center;
    list-style: none;
}

.menu-ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

.menu-ul li {
    font-size: 15px;
    list-style: none;
    display: inline-block;
    padding: 30px 30px 36px 35px;
}